/*
 ********************************************
 * Elements
 ********************************************
 */

body {
  font-family: Lato, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-width: 200px;
  min-height: 150px;
  background-color: #f8f8f8;
  color: #5e5873;
}

h1 {
  color: rgb(8, 99, 179);
}

/*
 ********************************************
 * Utility
 ********************************************
 */
.flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.flex-grow {
  flex-grow: 1;
}

.flex.center {
  align-items: center;
  justify-content: center;
}

/*
 ********************************************
 * Animations
 ********************************************
 */
@keyframes loading-indicator-sping {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*
 ********************************************
 * Parts - Header
 ********************************************
 */
.header {
  padding: 1rem;
}

.header h1 {
  padding: 0px;
  margin: 0px;
}

.header h1 .off-color {
  color: rgb(59, 201, 243);
}


/*
 ********************************************
 * Parts - Content
 ********************************************
 */
.content-container {
  position: relative;
}

/*
 ********************************************
 * Parts - Loading
 ********************************************
 */
#loading-container {

  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
}

#loading-container .loading-box {
  background-color: white;
  border-radius: 8px;
  padding: 12px;
}


#loading-container .pim-loading {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: loading-indicator-sping 2s linear infinite;
  display: inline-block;
  margin-left: 8px;
}

/*
 ********************************************
 * Parts - Pim Container
 ********************************************
 */
#pim-container {
  padding: 0.5rem 1rem 1rem 1rem;
  min-width: 350px;
}

.action-container {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  margin: 0 0 1rem 0;
  transition: box-shadow .3s; 
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}

.action-container .target {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  color: #5e5873;
}

.action-container:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.action-container.error {
  background-color: rgb(227 188 188);
}