/*
 ********************************************
 * Elements
 ********************************************
 */

body {
  font-family: Lato, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-width: 400px;
  min-height: 150px;
  background-color: #f8f8f8;
  color: #5e5873;
}

h1 {
  color: rgb(8, 99, 179);
}

/*
 ********************************************
 * Utility
 ********************************************
 */
.flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.flex-grow {
  flex-grow: 1;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row.space-between {
  justify-content: space-between;
}

.flex.center {
  align-items: center;
  justify-content: center;
}

.flex-row.end {
  justify-content: end;
  align-items: end;
}

/*
 ********************************************
 * Animations
 ********************************************
 */
@keyframes loading-indicator-sping {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*
 ********************************************
 * Parts - Header
 ********************************************
 */
.header {
  padding: 1rem;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 15%);
}

.header h1 {
  padding: 0px;
  margin: 0px;
}

.header h1 .off-color {
  color: rgb(59, 201, 243);
}

#options {
  text-decoration: none;
  color: rgba(0, 0, 0, .3);
  font-size: 20px;
}

/*
 ********************************************
 * Parts - Footer
 ********************************************
 */
 .footer {
  padding: 0.5rem 1rem;
  color: rgba(0, 0, 0, .3);
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 30%);
 }

 .footer .help {
    color:#fff;
    background-color:rgba(0, 0, 0, .2);
    width:12px;
    height:12px;
    display:inline-block;
    border-radius:100%;
    font-size:10px;
    text-align:center;
    text-decoration:none;
    /* -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25); */
 }

/*
 ********************************************
 * Parts - Content
 ********************************************
 */
.content-container {
  position: relative;  
}

/*
 ********************************************
 * Parts - Loading
 ********************************************
 */
#loading-container {

  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .1);
}

#loading-container .loading-box {
  background-color: white;
  border-radius: 8px;
  padding: 12px;
}


#loading-container .pim-loading {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: loading-indicator-sping 2s linear infinite;
  display: inline-block;
  margin-left: 8px;
}

/*
 ********************************************
 * Parts - Pim Container
 ********************************************
 */
#pim-container {
  padding: 1rem 1rem 0rem 1rem;
  min-width: 350px;
  max-height: 450px;
  min-height: 80px;
  overflow-y: auto;

}

.action-container {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  margin: 0 0 1rem 0;
  transition: box-shadow .3s; 
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}

.action-container .target {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  color: #5e5873;
}

.action-container:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.action-container.error {
  background-color: rgb(227 188 188);
}

/*
 *
 */
 ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
} 